.gorputza{
  display: flex;
  margin: 20px;
  height: auto;

  .irudiak{
    display: flex;
    width: 820px;

    .irudiTxiki{
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 96.4px 96.4px 96.4px 96.4px;
      gap: 20px;
      margin-right: 20px;

      img{
        width: 86.4px;
        height: 100%;
        transition: transform 0.3s ease-in-out;
      }

      img:hover{
        border: solid 2px #87A1Ab;
        margin-right: -24px;
        transform: scale(1.1);
      }
    }

    .irudiNagusi{

      img{
        width: 712px;
        height: 100%;
      }
    }
  }

  .texto{
    width: 340px;
    margin-top: -20px;
    padding-right: 40px;
    padding-left: 40px;
    text-align: justify;

    h6{
      color: #44AE56;
    }
  }

  .compra{
    width: 220px;
    text-align: justify;
    border: solid 2px #87A1Ab;
    padding: 8px;

    h3{
      color:#44AE56;;
    }

    button{
      border-radius: 20px;
      width: 100%;
      justify-self:center;
      padding: 8px;
      background-color: #404B4E;
      color: white;

    }
  }

}

.bloque{
  margin: 20px;
  text-align: justify;
}
