<!--Parte superior de la pagina-->
<section class="gorputza">
  <!--Imagenes laterales en la pantalla grande-->
  <div class="irudiak">
    <div class="irudiTxiki">
      <img (click)="cambiarImagen('../../../../IMG/web_basura_orilla_4f151f7a30.png')"
           (mouseover)="imagenb('../../../../IMG/web_basura_orilla_4f151f7a30.png')"
           (mouseleave)="imagena()"
      src="../../../../IMG/web_basura_orilla_4f151f7a30.png">

      <img (click)="cambiarImagen('../../../../IMG/plastic-waste-quietly-gathers-ocean-unnoticed-by-marine-life.webp')"
           (mouseover)="imagenb('../../../../IMG/plastic-waste-quietly-gathers-ocean-unnoticed-by-marine-life.webp')"
           (mouseleave)="imagena()"
      src="../../../../IMG/plastic-waste-quietly-gathers-ocean-unnoticed-by-marine-life.webp">

      <img (click)="cambiarImagen('../../../../IMG/logo/logo.png')"
           (mouseover)="imagenb('../../../../IMG/logo/logo.png')"
           (mouseleave)="imagena()"
      src="../../../../IMG/logo/logo.png">

      <img (click)="cambiarImagen('../../../../IMG/web_basura_orilla_4f151f7a30.png')"
           (mouseover)="imagenb('../../../../IMG/web_basura_orilla_4f151f7a30.png')"
           (mouseleave)="imagena()"
      src="../../../../IMG/web_basura_orilla_4f151f7a30.png">
    </div>
    <!--Imagen principal-->
    <div class="irudiNagusi">
      <img [src]="imagenActual" alt="Imagen dinamica">
    </div>
  </div>
  <!--Texto-->
  <div class="texto">
    <h2>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quia vitae expedita accusamus delectus iste voluptatem nisi?
    </h2>

    <hr>

    <h6>
      €€
    </h6>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quia vitae expedita accusamus delectus iste voluptatem nisi?
      Aspernatur quis nesciunt debitis inventore incidunt suscipit voluptates illo ullam, et provident aut!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quia vitae expedita accusamus delectus iste voluptatem nisi?
      Aspernatur quis nesciunt debitis inventore incidunt suscipit voluptates illo ullam, et provident aut!
    </p>
  </div>

  <!--Carousel( Solo aparecera en la pantalla pequeña )-->
  <div class="slider">
    <app-carousel></app-carousel>

  </div>

  <!--Bloque con informacion basica de la compra-->
  <div class="compra">
    <h3>€€</h3>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quia vitae expedita accusamus delectus iste voluptatem nisi?
      Aspernatur quis nesciunt debitis inventore incidunt suscipit voluptates illo ullam, et provident aut!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quia vitae expedita accusamus delectus iste voluptatem nisi?
      Aspernatur quis nesciunt debitis inventore incidunt suscipit voluptates illo ullam, et provident aut!
    </p>

    <button>Comprar</button>
  </div>
</section>

<!--Parte inferior de la pagina-->
<div class="bloque">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quia vitae expedita accusamus delectus iste voluptatem nisi?
    Aspernatur quis nesciunt debitis inventore incidunt suscipit voluptates illo ullam, et provident aut!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quia vitae expedita accusamus delectus iste voluptatem nisi?
    Aspernatur quis nesciunt debitis inventore incidunt suscipit voluptates illo ullam, et provident aut!
  </p>
</div>
