<section class="gorputza">
  <div class="irudiak">
    <div class="irudiTxiki">
      <img src="../../../../IMG/web_basura_orilla_4f151f7a30.png">
      <img src="../../../../IMG/web_basura_orilla_4f151f7a30.png">
      <img src="../../../../IMG/web_basura_orilla_4f151f7a30.png">
      <img src="../../../../IMG/web_basura_orilla_4f151f7a30.png">
    </div>

    <div class="irudiNagusi">
      <img src="../../../../IMG/web_basura_orilla_4f151f7a30.png">
    </div>
  </div>

  <div class="texto">
    <h2>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quia vitae expedita accusamus delectus iste voluptatem nisi?
    </h2>

    <hr>

    <h6>
      €€
    </h6>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quia vitae expedita accusamus delectus iste voluptatem nisi?
      Aspernatur quis nesciunt debitis inventore incidunt suscipit voluptates illo ullam, et provident aut!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quia vitae expedita accusamus delectus iste voluptatem nisi?
      Aspernatur quis nesciunt debitis inventore incidunt suscipit voluptates illo ullam, et provident aut!
    </p>
  </div>

  <div class="compra">
    <h3>€€</h3>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quia vitae expedita accusamus delectus iste voluptatem nisi?
      Aspernatur quis nesciunt debitis inventore incidunt suscipit voluptates illo ullam, et provident aut!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quia vitae expedita accusamus delectus iste voluptatem nisi?
      Aspernatur quis nesciunt debitis inventore incidunt suscipit voluptates illo ullam, et provident aut!
    </p>

    <button>Comprar</button>
  </div>
</section>

<div class="bloque">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quia vitae expedita accusamus delectus iste voluptatem nisi?
    Aspernatur quis nesciunt debitis inventore incidunt suscipit voluptates illo ullam, et provident aut!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quia vitae expedita accusamus delectus iste voluptatem nisi?
    Aspernatur quis nesciunt debitis inventore incidunt suscipit voluptates illo ullam, et provident aut!
  </p>
</div>
