<div class="gorputza">
  <section class="card1">
    <video width="792" height="446" controls>
      <source src="mi_video.mp4" type="video/mp4">
      <source src="mi_video.ogg" type="video/ogg">
      Tu navegador no soporta la etiqueta de vídeo.
    </video>
    <a href="#"><b>Titulo</b></a>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti alias, cupiditate fugiat reprehenderit nostrum expedita molestias voluptatem placeat dignissimos,
       esse qui saepe consequatur sunt pariatur dicta similique? Veritatis, corrupti! Voluptatem.</p>
  </section>

  <section class="card2">
    <img src="../../../../IMG/web_basura_orilla_4f151f7a30.png">
    <a href="#"><b>Titulo</b></a>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti alias, cupiditate fugiat reprehenderit nostrum expedita molestias voluptatem placeat dignissimos,
       esse qui saepe consequatur sunt pariatur dicta similique? Veritatis, corrupti! Voluptatem.</p>
  </section>
</div>
