<div class="gorputza">
  
  <!--Card1 contiene video + texto-->
  <section class="card1">
    <!--Video-->
    <iframe
      class="video"
      src="https://www.youtube.com/embed/fC41RR4yodg?si=YmfEuC48NpETsKp8"
      title="YouTube video player"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
    <!--Enlace para la pantalla pequeña-->
    <a (click)="descripcion(1)"><b>Plasticos en el mar</b></a>
    <!--Texto en pantalla grande-->
    <p class="i">
    En la actualidad, lo que en realidad representa un problema para el medio ambiente es más bien
    la gestión y el uso incorrecto de los residuos de plástico. Lamentablemente cada año se
    arrojan al mar más de 13 millones de toneladas de plásticos. Debido a que durante muchas
    décadas, prácticamente todo el mundo ha estado arrojando de manera inconsciente plástico al
    mar, por lo que se calcula que para el año 2050 es probable que haya más plásticos que peces
    en los mares. Es importante saber que los desechos plásticos tardan en degradarse entre 500 y
    1000 años. Por lo que si no se recuperan y reciclan, inevitablemente están destinados a
    contaminar el medio ambiente y por consiguiente nuestra salud. El plástico está en casi todas
    partes y la creciente tasa de contaminación plástica incluso se agrava debido al aumento del
    consumo y al crecimiento de la población. Debido a que con el aumento de la población y el
    crecimiento urbano, aumenta la demanda de materiales más baratos y fácilmente disponibles.
    </p>

    <!--Texto para pantalla pequeña( Aparecera al darle click al link de arriba )-->
    @if (texto1) {

    <p>
    En la actualidad, lo que en realidad representa un problema para el medio ambiente es más bien
    la gestión y el uso incorrecto de los residuos de plástico. Lamentablemente cada año se
    arrojan al mar más de 13 millones de toneladas de plásticos. Debido a que durante muchas
    décadas, prácticamente todo el mundo ha estado arrojando de manera inconsciente plástico al
    mar, por lo que se calcula que para el año 2050 es probable que haya más plásticos que peces
    en los mares. Es importante saber que los desechos plásticos tardan en degradarse entre 500 y
    1000 años. Por lo que si no se recuperan y reciclan, inevitablemente están destinados a
    contaminar el medio ambiente y por consiguiente nuestra salud. El plástico está en casi todas
    partes y la creciente tasa de contaminación plástica incluso se agrava debido al aumento del
    consumo y al crecimiento de la población. Debido a que con el aumento de la población y el
    crecimiento urbano, aumenta la demanda de materiales más baratos y fácilmente disponibles.
    </p>

    }

  </section>
  <!--Card2 continene imagen + texto-->
  <section class="card2">
    <!--Imagen-->
    <img class="imagen" src="../../../../IMG/fotos/plasticoBosque.jpg" alt="imagen de un bosque" />
    <!--Enlace para la pantalla pequeña-->
    <a (click)="descripcion(2)"><b>Plasticos en el bosque</b></a>
    <!--Texto en pantalla grande-->
    <p class="i">
    En la actualidad, lo que en realidad representa un problema para el medio ambiente es más bien
    la gestión y el uso incorrecto de los residuos de plástico. Lamentablemente cada año se
    arrojan al mar más de 13 millones de toneladas de plásticos. Debido a que durante muchas
    décadas, prácticamente todo el mundo ha estado arrojando de manera inconsciente plástico al
    mar, por lo que se calcula que para el año 2050 es probable que haya más plásticos que peces
    en los mares. Es importante saber que los desechos plásticos tardan en degradarse entre 500 y
    1000 años. Por lo que si no se recuperan y reciclan, inevitablemente están destinados a
    contaminar el medio ambiente y por consiguiente nuestra salud. El plástico está en casi todas
    partes y la creciente tasa de contaminación plástica incluso se agrava debido al aumento del
    consumo y al crecimiento de la población. Debido a que con el aumento de la población y el
    crecimiento urbano, aumenta la demanda de materiales más baratos y fácilmente disponibles.
    </p>
    <!--Texto para pantalla pequeña( Aparecera al darle click al link de arriba )-->
    @if (texto2) {

    <p>
    En la actualidad, lo que en realidad representa un problema para el medio ambiente es más bien
    la gestión y el uso incorrecto de los residuos de plástico. Lamentablemente cada año se
    arrojan al mar más de 13 millones de toneladas de plásticos. Debido a que durante muchas
    décadas, prácticamente todo el mundo ha estado arrojando de manera inconsciente plástico al
    mar, por lo que se calcula que para el año 2050 es probable que haya más plásticos que peces
    en los mares. Es importante saber que los desechos plásticos tardan en degradarse entre 500 y
    1000 años. Por lo que si no se recuperan y reciclan, inevitablemente están destinados a
    contaminar el medio ambiente y por consiguiente nuestra salud. El plástico está en casi todas
    partes y la creciente tasa de contaminación plástica incluso se agrava debido al aumento del
    consumo y al crecimiento de la población. Debido a que con el aumento de la población y el
    crecimiento urbano, aumenta la demanda de materiales más baratos y fácilmente disponibles.
    </p>

    }
  </section>
</div>
