<h2>Lista de Usuarios</h2>
    
    <button (click)="createNewUser()">Agregar Usuario Test</button>

    <ul>
      @for (user of users(); track user.id) {
        <li>
          <img [src]="user.avatar" width="30" style="border-radius: 50%">
          <strong>{{ user.fullName }}</strong> ({{ user.role }})
          <button (click)="editUser(user.id)">✏️ Editar</button>
          <button (click)="deleteUser(user.id)">Eliminar</button>
        </li>
        
      } @empty {
        <li>No hay usuarios cargados.</li>
      }
    </ul>
