<h2>Lista de Usuarios</h2>

<button (click)="createNewUser()">Agregar Usuario Test</button>

<ul>
  @for (user of users(); track user.id) {
  <li>
    <img [src]="user.avatar" width="40" height="40">
    <strong>{{ user.fullName }} <span>({{ user.role }})</span></strong>

    <div class="action-buttons">
      <button (click)="editUser(user.id)">✏️ Editar</button>
      <button (click)="deleteUser(user.id)">Eliminar</button>
    </div>
  </li>

  } @empty {
  <li>No hay usuarios cargados.</li>
  }
</ul>